@font-face {
    font-family: "MontserratCustom";
    src: url("https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2");
}

body {
    margin: 0;
    background: black;
    font-family: "MontserratCustom", sans-serif;
    color: white;
}

/* Контейнер */
.wrapper {
    width: 1400px; /* ВАЖЛИВО: достатня ширина */
    margin: 40px auto;
    border: 2px solid white;
    padding: 30px;
}

/* Навбар */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: cyan;
}

.nav-links a:active {
    color: red;
}

/* ГАЛЕРЕЯ */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0;
}

.gallery img {
    flex: 0 0 31%;   /* ось головний момент */
    border: 2px solid white;
    height: 220px;
    object-fit: cover;
}

/* Футер */
.footer {
    border-top: 1px solid white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

